<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>git</string>
	<key>CFBundleName</key>
	<string>GitLiaoXueFeng_zh</string>
	<key>DocSetPlatformFamily</key>
	<string>git</string>
	<key>dashIndexFilePath</key>
	<string>wiki/0013739516305929606dd18361248578c67b8067c8c017b000.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
