<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>python</string>
	<key>CFBundleName</key>
	<string>PythonLiaoXueFeng</string>
	<key>DocSetPlatformFamily</key>
	<string>python</string>
	<key>dashIndexFilePath</key>
	<string>wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
